{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Ecommerce beauty</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/Responsive.css' %}">
    <link rel="shortcut icon" href="{% static 'images/beauty-logo.svg' %}" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/4c94f24f7a.js" crossorigin="anonymous"></script>
</head>
<body>

    <!--------------------HEADER---------------------->
    <header id="header">
        <a href="{% url 'index' %}"><img src="{% static 'images/logo_mini.png' %}" alt="beauty" class="logo"></a>
        <nav>
            <ul id="navbar" class="navbar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'shop' %}">Каталог</a></li>
                <li><a href="{% url 'about' %}" class="active">О нас</a></li>
                <li><a href="{% url 'contact' %}">Контакты</a></li>
                <!---<li><a href="#"><i class="fa-solid fa-magnifying-glass icons-nav"></i></a></li>--->

                <li><a href="{% url 'cart' %}"><i class="fa-solid fa-bag-shopping icons-nav"></i></a></li>
                <li>
                    {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}"><i class="fa-solid fa-user icons-nav"></i></a>
                    {% else %}
                    <a href="{% url 'login' %}"><i class="fa-solid fa-user icons-nav"></i></a>
                    {% endif %}
                </li>
                
                </ul>
                </nav>
                
        <div id="mobile">
            <i id="bar" class="fas fa-outdent" onclick="openNav()"></i> 
        </div>
    </header>

    <!--------------------Page Header---------------------->
    <div class="page-header">
        <h2>#ЗнайКтоСамыйЛучший</h2>
    </div>

    <!--------------------About Section---------------------->
<section class="about-wrapper section-p1">
    <div class="about-card">
        <img src="{% static 'images/logo.png' %}" alt="About Us">
        <div class="about-text">
            <h2>Кто мы такие?</h2>
            <p>
                Мы — команда, которая верит в силу красоты и уход за собой. Наш магазин создан с любовью, чтобы каждая
                девушка могла найти то, что подчеркнёт её индивидуальность и стиль.
                <br><br>
                Наша миссия — сделать качественную косметику доступной, а покупки — приятными.
            </p>
        </div>
    </div>

    <div class="beauty-message">
        <p>Твоя красота — твоя сила. Мы лишь помогаем ей сиять ярче ✨</p>
    </div>
</section>



    <!--------------------Footer----------------------->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-column">
                <h3>О нас</h3>
                <p>Мы предоставляем качественную косметику, чтобы ваша кожа была сияющей, здоровой и ухоженной каждый день.
                </p>
            </div>
            <div class="footer-column">
                <h3>Контакты</h3>
                <p>Email: <a href="mailto:example@beautystore.com">glowcosmetickz@gmail.com</a></p>
                <p>Телефон: <a href="tel:+77000000000">+7 (747) 622-29-84</a></p>
            </div>
            <div class="footer-column">
                <h3>Наш Telegram-канал</h3>
                <a href="https://t.me/glowandco" target="_blank" class="telegram-link">
                    Подписаться в Telegram →
                </a>
                <h3>Мы в Instagram</h3>
                <a href="https://www.instagram.com/glowncokazakhstan?igsh=aW40N2o1NGNpY3N0" target="_blank" class="instagram-link">
                    Подписаться в Instagram →
                </a>
            
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2025 GLOW&CO COSMETICS. Все права защищены.</p>
        </div>
    </footer>


    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>