{% extends 'base.html' %}

{% block content %}
<style>
    .password-form {
        max-width: 500px;
        margin: 0 auto;
        background-color: #fccdcd;
        padding: 20px;
        border-radius: 20px;
    }

    .password-form h2 {
        text-align: center;
        color: #000;
    }

    .password-form button {
        background-color: #f7acad;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
        margin-top: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .password-form button:hover {
        background-color: #c08788;
    }
</style>

<div class="password-form">
    <h2>Сменить пароль</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить</button>
    </form>
    <div style="text-align: center; margin-top: 20px;">
        <a href="{% url 'profile' %}" style="color: #555;">⬅ Назад к профилю</a>
    </div>
</div>
{% endblock %}